$primary-text: #001a00;
$secondary-text: #777;
$light-grey: #999;
$dark-text: #555;
$medium-grey: #001a00;
$grey-background: #f9f9f9;
$white-background: #fff;
$primary-color: rgba(44, 95, 45, 100%);

@mixin btn-style($backgroundColor, $textColor) {
  padding: 1.6rem 3.2rem;
  background-color: $backgroundColor;
  color: $textColor;
  font-weight: 500;
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 0.8rem;
}

@mixin text-gradient {
  background-image: linear-gradient(
    to right,
    hsl(121, 37%, 35%),
    hsl(120, 100%, 15%)
  );
  background-clip: text;
  color: transparent;
}

::selection {
  background-color: $primary-color;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: $primary-text;
  line-height: 1.6;

  h2 {
    font-size: 3.6rem;
    margin-bottom: 6rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  span {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: $secondary-text;
  }
}

// SECTIONS

.section {
  width: 144rem;
  padding: 12rem 9.6rem;
}

// NAVIGATION

.navbar {
  width: 144rem;

  height: 8.6rem;
  background-color: $grey-background;
  padding: 3rem 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 2rem;
    font-weight: 600;
    @include text-gradient();
  }

  ul {
    display: flex;
    gap: 3rem;
  }

  li {
    list-style-type: none;
  }

  &__link {
    font-size: 1.6rem;
    color: $primary-text;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: hsl(121, 37%, 45%);
    }
  }
}

// HERO SECTION

.hero {
  width: 144rem;
  height: 71.4rem;

  padding: 17.5rem 9.6rem;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(44, 95, 45, 1),
      rgba(44, 95, 45, 0),
      rgba(44, 95, 45, 0)
    ),
    url("../assets/images/bg-img.jpg");
  background-size: cover;
  background-position: 50% 50%;

  &__headline {
    font-size: 4.8rem;
    font-weight: 600;
    color: $grey-background;
    line-height: 1.3;
    width: 45rem;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    width: 35.4rem;
    color: #eee;
    margin-bottom: 3rem;
  }

  &__btn:link,
  &__btn:visited {
    padding: 1.6rem 3.2rem;
    background-color: $grey-background;
    color: $primary-color;
    font-weight: 600;
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-0.2rem);
      // box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
    }

    &:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__btn--secondary:link,
  &__btn--secondary:visited {
    background: transparent;
    color: $white-background;
    border: 2px solid $grey-background;
    transition: all 0.3s ease;

    &:hover {
      background-color: $grey-background;
      color: $primary-color;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    }

    &:active {
      // transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    }
  }

  &__arrow {
    // font-size: 4.8rem;
    // color: $white-background;
    // margin-left: 20rem;
    position: absolute;
    top: 68%;
    left: 18.5%;

    // display: block;
    // margin-top: 5rem;
    transition: move-down-indicator 0.3s;
    animation: move-down-indicator 2s infinite ease;
  }
}

@keyframes move-down-indicator {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0);
  }
}

// ABOUT US SECTION

.about-us {
  background: $grey-background;
  text-align: center;

  div {
    width: 113.6rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin: 6rem auto;
  }

  &__images {
    width: 35.2rem;
    height: 50rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  &__paragraph {
    width: 96.4rem;
    margin: 0 auto;
    color: $dark-text;
  }
}

// METRICS SECTION

.metrics {
  text-align: center;

  .container {
    display: grid;
    grid-template-rows: 15rem;
    grid-template-columns: repeat(3, 31rem);
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 101rem;
    margin: 0 auto;

    div {
      background: $grey-background;
      padding: 5rem 4rem;
      border-radius: 2rem;
      width: 31rem;

      h3 {
        font-size: 3.6rem;
      }

      p {
        color: $primary-text;
      }
    }
  }
}

// PROJECT SECTION

.project {
  background: $grey-background;
  text-align: center;

  .projects-grid {
    margin: 0 auto;
    width: 98.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6rem;
    align-items: center;

    div {
      text-align: left;
    }
  }

  &__image {
    width: 54.4rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  &__description {
    margin: 1rem 0 2rem 0;
  }

  .urban-desc {
    width: 38rem;
  }

  .coastal-desc {
    width: 34rem;
  }

  .eco-edu-desc {
    width: 38rem;
  }

  .project-link-container {
    width: 12.7rem;
    height: 2.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      .project-link-icon {
        transform: translateX(1rem);
        color: $primary-color;

        // animation: arrow-infinite 1s infinite;
      }
    }

    .project-link-icon {
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 1rem;
      transition: all 0.3s ease;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $primary-text;
    font-size: 1.8rem;
    font-weight: 500;

    &:hover {
      color: $primary-color;
    }
  }
}

// @keyframes arrow-infinite {
//   0% {
//     transform: translateX(0);
//   }
//   50% {
//     transform: translateX(1rem);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

// GET-INVOLVED SECTION

.get-involved {
  text-align: center;

  &__headline {
    margin-bottom: 2rem;
  }

  &__description {
    width: 62.8rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  &__image {
    display: block;
    width: 124.8rem;
    height: 60rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 4rem;
  }

  &__button {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    display: inline-block;
    color: $primary-text;
    border-radius: 0.8rem;
    transition: all 0.4s ease;

    &--primary {
      background: $primary-color;
      color: $white-background;

      &:hover {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
        transform: translateY(-0.5rem);
      }

      &:active {
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        transform: translateY(0.5rem);
      }
    }
    &--secondary {
      background: transparent;
      box-shadow: inset 0 0 0 2px $primary-text;
      margin-right: 1rem;

      &:hover {
        background: $primary-color;
        color: $white-background;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
        transform: translateY(-0.5rem);
      }

      &:active {
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        transform: translateY(0.5rem);
      }
    }
  }
}
